{% extends "layout.html" %}

{% block title %}coming soon{% endblock %}

{% block body %}
... work in progress ... <br>
<br>
<br>
Latest update:<br>
- Added Edit and Delete buttons to Transaction list (they don't actually edit the transaction yet tho)<br>

<br>
Elements currently working:<br>
<a href="/record">Record An Expense</a><br>
<a href="/responses">View All Responses</a><br>
<a href="/summary">Summary Table (month)</a><br>
<br>
Elements currently under construction:<br>
<br>
Elements on the back burner:<br>
Login/Logout<br>
User profiles<br>
{% endblock %}