{% extends "layout.html" %}

{% block title %}record{% endblock %}

{% block body %}
    <div class="form-group">
        <form action="/record" enctype="multipart/form-data" method="POST">
            <legend>Record an Expense</legend>
            <label for="amount">Amount</label>
            <input class="form-control" id="amount" name="amount" placeholder="0.00" required step="0.01" type="number" /><br>

            <label for="date">Date</label>
            <input class="form-control" id="date" name="date" required type="date" /><br>

            <label for="categpry">Category</label>
            <select class="form-control" id="category" name="category" required>
                <option selected disabled>select...</option>
                <option value="0">Alcohol</option>
                <option value="1">Dining</option>
                <option value="2">Education</option>
                <option value="3">Entertainment</option>
                <option value="4">Fees</option>
                <option value="5">Groceries</option>
                <option value="6">Health</option>
                <option value="7">Home</option>
                <option value="8">Pets</option>
                <option value="9">Shopping</option>
                <option value="10">Transportation</option>
                <option value="11">Other</option>
            </select><br>

            <label for="method">Method</label>
            <div class="form-check" id="method">
                <input class="form-check-input" name="method" type="radio" value="Cash"> Cash</input><br>
                <input class="form-check-input" name="method" type="radio" value="Credit"> Credit</input><br>
            </div>
            <br>

            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            <br>

            <button class="btn btn-primary" type="submit">Submit</button><br>
        </form>
    </div>
{% endblock%}